.cmp-progressbar {
  display: block;
  background-color: $grey-bar;
  overflow: hidden;
  text-align: center;
  border-radius: 1.31em;
  margin: 0.5em;
}
.cmp-progressbar__label--completed {
  display: none;
}
.cmp-progressbar__label--remaining {
  display: none;
}
.cmp-progressbar__bar {
  background-color: $accent;
  color: $transparent;
}

.cmp-progressbar-completedPercentage {
  text-align: center;
  font-size: 1.125em;
}