.cmp-progressbar {
  display: block;
  background-color: $grey-bar;
  overflow: hidden;
  text-align: center;
  border-radius: 1.31em;
  margin: 0.5em;
  //font-family: "Source San Pro", sans-serif;
}
.cmp-progressbar__label--completed {
  display: none;
}
.cmp-progressbar__label--remaining {
  display: none;
}
.cmp-progressbar__bar {
  background-color: $accent;
  color: $text;
  &:after {
    content: "\0025";
  }
}