.cmp-progressbar {
  display: block;
  background-color: $grey1;
  overflow: hidden;
  text-align: center;
  border-radius: 1.31em;
}
.cmp-progressbar__label--completed {
  display: none;
}
.cmp-progressbar__label--remaining {
  display: none;
}
.cmp-progressbar__bar {
  background-color: $accent;
  color: $text;
  &:after {
    content: "\0025";
  }
}