.caption {
  .cmp-image {}
  .cmp-image__link {}
  .cmp-image__image {}
  .cmp-image__title {
    //font-family: "Source San Pro", sans-serif;
    color: $grey3;
    font-size: 0.625em;
    margin-top: 1em;
  }
}