.primary {
  display: flex !important;
  justify-content: center;
  .cmp-button {
    padding-right: 2em;
    padding-left: 2em;
    background-color: $text-dark;
    border-style: none;
    border-radius: $border-radius;
    &:hover {
      background-color: $color-dark;
      & .cmp-button__text {
        color: $color-background;
      }
    }
    &:focus {
      background-color: $text-dark;
      border-color: $text-dark;
      outline: none;
      box-shadow: 0 0 0 0.125em $color-accent-focus;
      & .cmp-button__text {
        color: $color-background;
      }
    }
    &:disabled {
      background-color: $color-background;
      & .cmp-button__text {
        color: $grey2;
      }
    }
  }

  .cmp-button__text {
    color: $color-background;
  }

  .cmp-button__icon {
  }
}
