.light {
  .cmp-teaser {}
  .cmp-teaser__image {}
  .cmp-teaser__content {}
  .cmp-teaser__pretitle {
    color: $grey3;
  }
  .cmp-teaser__title {
    color: $text;
  }
  .cmp-teaser__title-link {
    color: $text;
  }
  .cmp-teaser__description {
    color: $text;
  }
  .cmp-teaser__action-container {}
  .cmp-teaser__action-link {
    color: $dark-theme-text;
  }

  .cmp-teaser__action-link:first-child {
    background-color: $accent;
    border-color: $accent;
    border-style: solid;
    border-width: 0.125em;

    &:hover {
      background-color: $accent-hover;
      border-color: $accent-hover;
    }
    &:focus {
      outline: none;
      background-color: $accent-focus;
      border-color: $color-background;
      box-shadow: 0 0 0 0.125em $accent-focus;
    }
    &:disabled {
      background-color: $grey1;
      border-color: $grey1;
    }
  }

  .cmp-teaser__action-link:not(:first-child) {
    background-color: rgba(0, 0, 0, 0);
    color: $grey4;
    border-color: $grey4;
    border-style: solid;
    border-width: 0.125em;

    &:hover {
      background-color: $grey4;
      color: $dark-theme-text;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.125em $accent-focus;
      background-color: $grey4;
      border-color: $color-background;
      border-style: solid;
      border-width: 0.125em;
      color: $dark-theme-text;
    }
    &:disabled {
      color: $grey1;
      border-color: $grey1;
    }
  }
}