.textOnTop {
  .cmp-teaser {
    position: relative;
  }
  .cmp-teaser__image {
    & img {
      height: 30em;
      object-fit: cover;
    }
  }
  .cmp-teaser__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cmp-teaser__pretitle {
    text-align: center;
    color: #FFFFFF;
    font-size: 0.625em;
    line-height: 1.125em;
    letter-spacing: 0.025em;
  }
  .cmp-teaser__title {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.5em;
  }
  .cmp-teaser__title-link {
    color: #FFFFFF;
  }
  .cmp-teaser__description {
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1.75em;
  }
  .cmp-teaser__action-container {
    display: flex;
    justify-content: center;
  }

  .cmp-teaser__action-link {
    color: $text-on-background;
  }
  .cmp-teaser__action-link:first-child {
    background-color: $accent;
    border-color: $accent;
    border-style: solid;
    border-width: 0.125em;

    &:hover {
      background-color: $accent-hover;
      border-color: $accent-hover;
    }
    &:focus {
      outline: none;
      background-color: $accent-focus;
      border-color: $color-background;
      box-shadow: 0 0 0 0.125em $accent-focus;
    }
    &:disabled {
      background-color: $grey1;
      border-color: $grey1;
    }
  }
  .cmp-teaser__action-link:not(:first-child) {
    background-color: rgba(0, 0, 0, 0);
    border-color: $color-background;
    border-style: solid;
    border-width: 0.125em;
    color: $text-on-background;

    &:hover {
      background-color: $color-background;
      color: $text;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.125em $accent-focus;
      background-color: $grey4;
      border-color: $color-background;
      border-style: solid;
      border-width: 0.125em;
      color: $text-on-background;
    }
    &:disabled {
      color: $grey1;
      border-color: $grey1;
    }
  }
}