.cmp-title {
  margin-top: 1.5em;
  margin-bottom: 1.25em;
}
.cmp-title__text {
  margin: 0;
}
.cmp-title__link {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $accent-hover;
    text-decoration-width: 0.125rem;
    color: $accent-hover;
  }
  &:focus {
    text-decoration: underline;
    text-decoration-color: $accent-focus;
    text-decoration-width: 0.125rem;
    outline: none;
    box-shadow: 0 0 0 0.125rem $accent-focus;
    color: $accent-focus;
  }
}