.carousel-showThreeImages {
  .cmp-carousel {
    margin: 0.5em;
    padding-bottom: 5rem;
    @include sm {
      padding-bottom: 1rem;
    }
  }

  .cmp-carousel__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 15vh;
    @include sm {
      flex-direction: column;
      align-items: center;
    }

    div,
    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .cmp-carousel__item {
      display: none;
      width: 32%;
      border-color: $transparent;
      border-style: solid;
      border-width: thick;
      border-radius: $outline-border-radius;
      &:hover {
        border-color: $color-accent;
      }
      @include md {
        .caption {
          width: 100% !important;
        }
      }
      @include sm {
        width: 70%;
        .caption {
          width: 100% !important;
        }
      }
    }
  }
  .cmp-carousel__actions {
    position: absolute;
    bottom: 45%;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
  .cmp-carousel__action {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.125em;
    background-color: $grey1;
    border-width: 0;
    border-radius: 0.25em;
    box-shadow: none;
    & .cmp-carousel__action-icon {
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 24px;
        height: 24px;
        transform: translate(-50%, -50%);
        content: '';
        mask-size: cover;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .cmp-carousel__action--previous {
    position: relative;
    left: -1.8rem;
    background-color: $color-accent;
    &:hover {
      background-color: $color-accent-hover;
    }
    & .cmp-carousel__action-icon {
      &:before {
        background-color: $color-background;
        mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00ODUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDg1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTVsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE0TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwMSA5OC42NTcpIHJvdGF0ZSgxODApIi8+PC9nPjwvc3ZnPg==');
      }
    }
  }
  .cmp-carousel__action--next {
    position: relative;
    right: -1.8rem;
    background-color: $color-accent;
    &:hover {
      background-color: $color-accent-hover;
    }
    & .cmp-carousel__action-icon {
      &:before {
        background-color: $color-background;
        mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00NDUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDQ1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMzAuNzA3LTMuNTY1YTEsMSwwLDAsMSwwLTEuNDE0bDQuOTQ5LTQuOTUtNC45NDktNC45NWExLDEsMCwwLDEsMC0xLjQxNCwxLDEsMCwwLDEsMS40MTQsMGw1LjY1Nyw1LjY1NmExLDEsMCwwLDEsLjI5My43MDcsMSwxLDAsMCwxLS4yOTMuNzA3TDMyLjEyMS0zLjU2NWExLDEsMCwwLDEtLjcwNy4yOTNBMSwxLDAsMCwxLDMwLjcwNy0zLjU2NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMi45MjkgMTAxLjkyOSkiLz48L2c+PC9zdmc+');
      }
    }
  }
  .cmp-carousel__action--disabled {
    background-color: $grey3-semi-transparent;
    &:hover {
      background-color: $grey3-semi-transparent;
    }
    & .cmp-carousel__action-icon {
      &:before {
        background-color: $grey3;
      }
    }
  }
  .cmp-carousel__action--pause {
    display: none;
  }
  .cmp-carousel__action--play {
    display: none;
  }
  .cmp-carousel__action-icon {
  }
  .cmp-carousel__action-text {
    display: none;
  }
  .cmp-carousel__indicators {
    display: none;
  }
  .cmp-carousel__indicator {
  }
  .cmp-carousel__indicator--active {
  }
}
