//== Font
$font-bolder: 'Montserrat Black';
$font-bold: 'Montserrat Bold';
$font-semibold: 'Montserrat SemiBold';
$font-medium: 'Montserrat Medium';
$font-regular: 'Montserrat';
$font-size: 16px;
$font-height: 20px;

//== Breakpoints

$screen-sm-max: 500px;
$screen-md-max: 850px;
$screen-lg-max: 1300px;

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

$text-small: 1.15vw;
$text-medium: 1.25vw;
$text-large: 1.5vw;
$text-extra-large: 1.75vw;
$text-height-small: 1.25vw;
$text-height-medium: 1.5vw;
$text-height-large: 1.75vw;

$text-fixed-extra-small: 0.7em;
$text-fixed-small: 0.8em;
$text-fixed-medium: 1em;
$text-fixed-large: 1.25em;
$text-fixed-extra-large: 1.75em;
$text-fixed-height-small: 0.9em;
$text-fixed-height-medium: 1.15em;
$text-fixed-height-large: 1.5em;

//== Color

$color-shadow: #00000029;
$color-dark: #000000;
$color-background: #ffffff;
$color-accent: #46a740;
$color-accent-focus: #58af52;
$color-accent-hover: #24811f;
$text-dark: #202c45;
$text-dark-semi-transparent: rgba(32, 44, 69, 0.5);
$text-light: #ffffff;
$grey1: #ededed;
$grey2: #dbdbdb;
$grey3: #aaaaaa;
$grey3-semi-transparent: rgba(219, 219, 219, 0.5);
$transparent: rgba(0, 0, 0, 0);

//== Grid

$max_col: 12;

//== Border

$border-radius: 10px;
$border-boxed-teaser: 10px 0 0 10px;
$border-menu: 10px 10px 0 0;
$outline-border-radius: 15px;
$footer-border-color: #4bbc2b;
$menu-border-color: #46a740;

//== Image

$image-shadow: inset 0 -120px 90px -80px rgba(0, 0, 0, 1);
