.cmp-download {
  width: fit-content;
  height: fit-content;
  margin: 0.5em;
  padding: 1.5em;
  border: 0.125em solid $grey2;
  border-radius: 0.25em;
}
.cmp-download__title {
}
.cmp-download__title-link {
  color: $text;
  font-weight: normal;
  font-size: 1.125em;
  text-decoration: none;
}
.cmp-download__description {
  color: $text;
  font-weight: lighter;
  font-size: 1em;
}
.cmp-download__properties {
  display: flex;
  color: $grey3;
  font-weight: normal;
  font-size: 0.625em;
  & div {
    float: left;
    & dd {
      margin: 0.625em 1em 0.625em 0;
    }
  }
}
.cmp-download__property {
}
.cmp-download__property-label {
  display: none;
}
.cmp-download__property-content {
}
.cmp-download__property--filename {
  display: none;
}
.cmp-download__property--size {
  order: 2;
}
.cmp-download__property--format {
  order: 1;
  text-transform: uppercase;
}
.cmp-download__action {
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: $accent;
  border-radius: 1.56em;
  &:hover {
    background-color: $accent-hover;
    border-color: $accent-hover;
  }
  &:focus {
    background-color: $accent-focus;
    border: 0.125em solid $color-background;
    border-radius: 1.56em;
    outline: none;
    box-shadow: 0 0 0 0.125em $accent-focus;
  }
}
.cmp-download__action-text {
  color: $text-on-background;
  &:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.625em;
    vertical-align: -25%;
    background-color: $text-on-background;
    content: "";
    mask: url("/content/dam/aem-site-template-basic/arrow-down.svg");
    mask-size: cover;
  }
}
