.cmp-form-text {
  display: grid;
  margin: 0.5em 0.5em;
  //font-family: "Source San Pro", sans-serif;
  & label {
    font-size: 0.625em;
    color: $grey3;
    margin-bottom: 0.5em;
  }
}
.cmp-form-text__help-block {}
.cmp-form-text__textarea {
  background-color: $grey1;
  border-radius: 0.25em;
  border: 0.125em solid $grey1;
  padding: 0.78em 1em;
  font-size: 1em;
  &:hover {
    background-color: $color-background;
  }
  &:focus {
    border-color: $accent-focus;
  }
  &:active {
    color: $text;
  }
}
.cmp-form-text__text {
  background-color: $grey1;
  border-color: $grey1;
  border-style: solid;
  border-radius: 0.25em;
  border-width: 0.125em;
  padding: 0.78em 1em;
  font-size: 1em;
  &:hover {
    background-color: $color-background;
  }
  &:focus {
    border-color: $accent-focus;
  }
  &:active {
    color: $text;
  }
  //&:invalid {
  //  border-color: $error;
  //  color: $text;
  //}
  //&:valid {
  //  border-color: $success;
  //  color: $text;
  //}
}