
//== XF Footer style, used on page template

.experiencefragment.footer {
    padding: .5em 1em;
    border-top: 0.125em solid $grey1;
    color: $grey3;
    font-size: 0.625em;

    .cmp-image__image {
        width: 9.2em;
    }

    .cmp-separator__horizontal-rule {
        margin: 0;
        border: 0;
    }
}