.standard {
  .cmp-breadcrumb {
    margin: 1em 0;
  }
  .cmp-breadcrumb__list {
    padding-inline-start: 0;
  }
  .cmp-breadcrumb__item {
    :not(:last-child) {
      :after {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 1em;
        vertical-align: -25%;
        background-color: $grey2;
        content: "";
        pointer-events: none;
        mask: url("/content/dam/aem-site-template-basic/right.svg");
        mask-size: cover;
      }
    }
  }
  .cmp-breadcrumb__item--active {
    color: $text;
  }
  .cmp-breadcrumb__item-link {
    color: $grey3;
    text-decoration: none;
    &:hover {
      color: $text;
    }
    &:focus {
      border: 0.125rem solid $accent-focus;
      border-radius: 0.25em;
    }
  }
}
